.navigation {
  background-image: linear-gradient(#181818, #808080);
  font-family: Georgia, serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.intro{
    background: radial-gradient(#30f0e9, #4682B4);
    padding-top: 40px;
    padding-bottom: 40px;
    color: #FFFFE0;
    text-align: center;
    font-size: 25px;
}
.education, .Projects, .toOffer {
  margin-right: 15%;
  text-align: justify;
  color: black;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  margin-bottom:1em;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
    text-align: left;
    font-family: Georgia, serif;
    line-height: 1.5;
    margin-top: .5em;
    margin-bottom:.5em;
    margin-right: 15%;
    margin-left: 25px;
    font-weight: normal;
    font-size: 30px;
}
.sidebar {
	background-color: #D3D3D3;
	margin-left: 20px;
	margin-right: 8px;
    font-family: Georgia, serif;
	width: 200px;
	border-radius: 10%;
	position: relative;
	float: right;
	margin-top: 300px;
	margin-bottom: 30px;
    color: black;
}
img {
    margin-top: 1em;
	margin-left: 25px;
    margin-right: 15%;
}
figcaption {
	font-weight: normal;
    margin-right: 15%;
    margin-left: 25px;
    margin-top: .5em;
    font-family: Georgia, serif;
}
a:link {
  color: white;
  text-decoration: none;
}
